@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>My Library</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td><a asp-page="/Books/Details" asp-route-id="@(book.BookId)">@book.Title</a></td>
                <td><a asp-page="/Authors/Details" asp-route-id="@(book.AuthorId)">@book.Author</a></td>
                @if (!@book.IsBorrowed)
                {
                    <td>At home</td>
                }
                else
                {
                    <td>Borrowed</td>
                }
            </tr>
        }
    </tbody>
</table>
<a asp-page="Books/Add" class="btn btn-success btn-lg">Add new book</a>